:root,
html[dark-mode="no"] {
  color-scheme: light;
  --bg: #fff;
  --bg-rgba: rgba(255, 255, 255, 1);
  --bg-2: #f8f8f8;
  --bg-3: #f8f8f8;
  --bg-2-rgba: rgba(248,248,248,0.7);
  --border-progress-bar: rgba(176, 87, 156, 0.7);
  --bg-newsletter: rgba(33, 129, 167, 0.2);
  --heading-newsletter: #0694D6;
  --subhead-newsletter: #009947;
  --header-color: #0694D6;
  --header-color-hover: #14739A;
  --headings-color: #424242;
  --headings-with-color: #0694D6;
  --subhead-color: #757575;
  --link-color: #0694D6;
  --link-color-hover: #14739A;
  --link-underline: rgba(33, 128, 167, 0.15);
  --link-underline-hover: rgba(33, 128, 167, 0.3);
  --link-background: #EBF3F6;
  --body-color: #212121;
  --exclusivas-bg: rgba(6, 148, 214, 0.1);
  --parceiros-bg: rgba(27, 62, 99, 0.1);
  --parceiros-color: #1b3e63;
  --tbr-bg: rgba(75, 0, 158, 0.1);
  --tbr-btn: rgba(95, 75, 139, 0.2);
  --tbr-btn-hover: rgba(95, 75, 139, 0.25);
  --tbr-color: #4B009E;
  --tbr-color-2: #424242;
  --tbr-color-hover: #9688B6;
  --article-border: #DDDEDF;
  --table-border: #ebedec;
  --table-border-2: #fff;
  --bg-achados: #FFF1F8;
  --bg-whatsapp: #dcf8c6;
  --achados-link: #003788;
  --whatsapp-link: #17b452;
  --line-height-base: 1.65;
  --comments-div: #ddd;
}
html[dark-mode="yes"] {
  color-scheme: dark;
  --bg: #1e2021;
  --bg-rgba: rgba(30, 32, 33, 1);
  --bg-2: #27292b;
  --bg-3: #35373a;
  --bg-2-rgba: rgba(39,41,43,0.7);
  --border-progress-bar: rgba(190, 215, 240, 0.7);
  --bg-newsletter: rgba(65, 155, 191, 0.6);
  --heading-newsletter: white;
  --subhead-newsletter: #03d665;
  --header-color: #14739A;
  --header-color-hover: #0694D6;
  --headings-color: #E0E0E0;
  --headings-with-color: #35BCF1;
  --subhead-color: #BDBDBD;
  --link-color: #35bcf1;
  --link-color-hover: #1991c3;
  --link-underline: rgba(54, 189, 242, .3);
  --link-underline-hover: rgb(25, 145, 195, .5);
  --link-background: #203038;
  --body-color: #f7f7f7;
  --exclusivas-bg: rgba(6, 148, 214, 0.1);
  --parceiros-bg: rgba(27, 62, 99, 0.1);
  --parceiros-color: #8697AA;
  --tbr-bg: #44216d;
  --tbr-btn: #756C89;
  --tbr-btn-hover: #685f7a;
  --tbr-color: #F4E6FF;
  --tbr-color-2: #e0e0e0;
  --tbr-color-hover: #dbc5f8;
  --article-border: #616161;
  --table-border: #2c2c2c;
  --table-border-2: #424242;
  --bg-achados: #A92D64;
  --bg-whatsapp: #075e54;
  --achados-link: #fff;
  --whatsapp-link: #25d366;
  --line-height-base: 1.65;
  --comments-div: #474747;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dark-mode="yes"] .tb-responde-widget h2 a:before,
[dark-mode="yes"] .tb-responde-widget .button-wrapper a:after {

}

[dark-mode="yes"] .tb-responde-widget h2 a:hover:before,
[dark-mode="yes"] .tb-responde-widget .button-wrapper a:hover:after {
  filter: brightness(0) saturate(100%) invert(77%) sepia(25%) saturate(885%) hue-rotate(206deg) brightness(106%) contrast(94%);
}

body,
a,
#post header,
#content .container,
#fullbanner.post{
  transition: color .2s ease-in-out, background-color .2s ease-in-out ;
}

#mmenu, #top nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-mode {
  display: flex;
  align-items: center;
  padding-left: .5rem;
  height: 50px
}

@media screen and (max-width: 1023px){
  .theme-mode {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    border-left: 0;
  }
}

[dark-mode="no"] .theme-mode-bg,
.theme-mode-bg {
	width: 34px;
	height: 34px;
	background: #07397D url(../img/dark-mode-icon.svg) no-repeat center;
	border-radius: 50%;
  font-size: 0;
	border: none;
  transition: .2s ease-in-out;
  cursor: pointer;
}

[dark-mode="yes"] .theme-mode-bg {
  background: #6693D5 url(../img/light-mode-icon.svg) no-repeat center;
}

[dark-mode="yes"] #populares{
  border-top-color: var(--bg-2);
}

[dark-mode="yes"] img{
  filter: grayscale(20%)
}

[dark-mode="yes"] .todos .catname {
  background: #545961;
}

[dark-mode="yes"] .tecnocast.hit-kill .capa.tecnocast-title{
  background-image: url('../img/tb-icon-hit-kill-dark-mode.svg');
}

[dark-mode="yes"] .tecnocast:not(.hit-kill) .capa.tecnocast-title{
  filter: brightness(1.5)
}

html[dark-mode="yes"] .ad-sticky-button img {
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #1e2021;
    --bg-rgba: rgba(30, 32, 33, 1);
    --bg-2: #27292b;
    --bg-3: #35373a;
    --bg-2-rgba: rgba(39,41,43,0.7);
    --border-progress-bar: rgba(190, 215, 240, 0.7);
    --bg-newsletter: rgba(65, 155, 191, 0.6);
    --heading-newsletter: white;
    --subhead-newsletter: #03d665;
    --header-color: #14739A;
    --header-color-hover: #0694D6;
    --headings-color: #E0E0E0;
    --headings-with-color: #35BCF1;
    --subhead-color: #BDBDBD;
    --link-color: #22A9E1;
    --link-color-hover: #1991c3;
    --link-underline: rgba(54, 189, 242, .3);
    --link-underline-hover: rgb(25, 145, 195, .5);
    --link-background: #203038;
    --body-color: #f7f7f7;
    --exclusivas-bg: rgba(6, 148, 214, 0.1);
    --parceiros-bg: rgba(27, 62, 99, 0.1);
    --parceiros-color: #8697AA;
    --tbr-bg: #44216d;
    --tbr-btn: #756C89;
    --tbr-btn-hover: #685f7a;
    --tbr-color: #F4E6FF;
    --tbr-color-2: #e0e0e0;
    --tbr-color-hover: #dbc5f8;
    --article-border: #616161;
    --table-border: #2c2c2c;
    --table-border-2: #424242;
    --bg-achados: #A92D64;
    --bg-whatsapp: #075e54;
    --achados-link: #fff;
    --whatsapp-link: #25d366;
    --line-height-base: 1.65;
    --comments-div: #474747;
  }
  
  .theme-mode-bg {
    background: #6693D5 url(../img/light-mode-icon.svg) no-repeat center;
  }

  /* Background / Color */
  body,
  #post header,
  #content > .container {
    background-color: var(--bg);
    color: var(--body-color);
  }

  html:not([dark-mode="no"]) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Background Cinza mais escuro */
  #fullbanner.post,
  #sidebanner, 
  .webstories-wrapper,
  .populares,
  #fullbanner {
    background-color: var(--bg-2);
  }
   
  
  /* Cores Headings */
  /* Cor Branca */
  html:not([dark-mode="no"]) .single #tb-achados-cont .tb-achados-info p{
    color: var(--body-color);
  }

  html:not([dark-mode="no"]) article h2:not(.component-title){
    color: var(--headings-color)
  }

  /* Links */
  html:not([dark-mode="no"]) article a:hover h2,
  .single main .tags a[rel='tag']:hover,
  main a{
    color: var(--link-color) 
  }

  .gtb-blocks .entry a:hover {
    color: var(--link-color-hover) 
  }

  #post h1,
  .populares a,
  .tb-related-post-title,
  main h2 {
    color: var(--headings-color);
  }
  
  html:not([dark-mode="no"]) .populares h2 {
    color: var(--headings-with-color);
  }

  .gtb-blocks main .entry figcaption,
  #post header p,
  article .info,
  .team-job,
  #post .by {
    color: var(--subhead-color);
  }
  
  /* Populares */
  #populares{
    border-color: var(--bg-2)
  }

  /* Tabelas */
  .entry table tr:nth-child(odd),  
  .gtb-blocks .entry .wp-block-table tbody tr:nth-child(even) {
    background: var(--bg) ;
  }
  .gtb-blocks .entry .wp-block-table tbody tr:first-child td, {
    background: var(--bg-2) ;
  }
  .single.gtb-blocks .entry .wp-block-table tbody tr:first-child td,
  .gtb-blocks .entry .wp-block-table tbody tr:nth-child(odd) {
    background: var(--bg-2) ;
  }
  .single.gtb-blocks .entry .wp-block-table:not(.is-style-stripes) tr:nth-child(odd) td,
  .gtb-blocks .entry .wp-block-table:not(.is-style-stripes) td,
  .gtb-blocks .entry .wp-block-table:not(.is-style-stripes) th {
    border-color: var(--table-border-2) ;
  }  
  
  .todos .catname {
    background: #545961;
  }
  
  html:not([dark-mode="no"]) .tecnocast.hit-kill .capa.tecnocast-title{
    background-image: url('../img/tb-icon-hit-kill-dark-mode.svg');
  }
  
  html:not([dark-mode="no"]) .ad-sticky-button img {
    filter: invert(1);
  }
}
